* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
  height: 100vh;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background: #ec9f05;
  background: linear-gradient(152deg, #eca305 17%, #ff4e00 98%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 62.5%;
}

.box {
  text-align: center;
  height: 90vh;
  width: 80vw;
  padding: 1.5rem;
  background-color: rgba(37, 34, 34, 0.911);
  border: 2px solid white;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box h1 {
  margin-bottom: 3rem;
  font-size: 1.4rem;
  color: white;
}

.box i {
  color: white;
}

.box__content {
  font-size: 1.1rem;
  color: white;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box__content input {
  background-color: rgba(216, 150, 65, 0.938);
  height: 25px;
  border-radius: 0.5rem;
  height: 25px;
  padding: 0.2rem;
  width: 190px;
  font-size: 1rem;
  color: white;
  border: 2px solid white;
  margin: 0.65rem;
}

.box button {
  color: white;
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  height: 40px;
  width: 100px;
  border: 2px solid white;
  border-radius: 0.5rem;
  background-color: #f18e0b;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  cursor: pointer;
}

.box .result {
  color: white;
  font-size: 1rem;
  margin-top: 2rem;
}

@media (min-width: 500px) {
  .box h1 {
    font-size: 2rem;
  }
  .box__content {
    font-size: 1.5rem;
  }
  .box__content input {
    height: 30px;
  }
  .box .result {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .box {
    width: 50vh;
  }
  .box h1 {
    font-size: 2rem;
  }
  .box__content {
    font-size: 1.5rem;
  }
  .box__content input {
    height: 30px;
    font-size: 1.1rem;
  }
  .box .result {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .box {
    width: 60vh;
  }
  .box h1 {
    font-size: 2.2rem;
  }
  .box__content {
    font-size: 1.7rem;
  }
  .box__content input {
    height: 30px;
    font-size: 1.2rem;
  }
  .box__content button:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .box__content button:active {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .box .result {
    font-size: 1.7rem;
  }
}

@media (min-width: 1200px) {
  .box {
    width: 60vh;
  }
  .box h1 {
    font-size: 2.2rem;
  }
  .box__content {
    font-size: 1.7rem;
  }
  .box__content input {
    height: 30px;
    font-size: 1.3rem;
  }
  .box .result {
    font-size: 1.7rem;
  }
}
/*# sourceMappingURL=main.css.map */