*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.white {
  background-color: #bebebe;
}

.black {
  color: black;
}

body {
  font-family: "Convergence", sans-serif;
  font-size: 62.5%;
  background-color: #121016;
}

h1 {
  padding: 10px;
  text-align: center;
  color: #bb7330;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

h1 span {
  color: white;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0rem;
}

.form {
  position: relative;
  width: 13rem;
  height: 2rem;
  margin: 1.8rem 0rem;
}

.form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  border-radius: 0.5rem;
  color: white;
  outline: none;
  padding: 1rem;
  background: none;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: .8rem;
}

.form__input:focus {
  border-color: #bb7330;
}

.form__input:focus ~ .form__label {
  color: white;
}

.form__label {
  position: absolute;
  left: 1rem;
  top: -.23rem;
  padding: 0 0.5rem;
  font-size: .6rem;
  color: #bb7330;
  cursor: text;
  -webkit-transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  background-color: #121016;
  -webkit-transition: .3s;
  transition: .3s;
  letter-spacing: 1px;
}

.form__label--number {
  position: absolute;
  right: 1rem;
  top: 52%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
}

.painter {
  color: #bb7330;
}

.result {
  color: white;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

button {
  text-transform: uppercase;
  background: transparent;
  color: white;
  border: 2px solid #bb7330;
  border-radius: 0.5rem;
  padding: 9px 18px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: .6rem;
}

button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (min-width: 400px) {
  h1 {
    font-size: 1.6rem;
  }
  .form {
    width: 15rem;
    height: 2.2rem;
    margin: 2rem 0rem;
  }
  .form__input {
    padding: 1.2rem;
    font-size: 1rem;
  }
  .form__label {
    font-size: .7rem;
  }
  .form__label--number {
    font-size: .9rem;
    right: 1rem;
    top: 60%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .result {
    font-size: 1rem;
    margin-top: 2rem;
  }
  button {
    font-size: .8rem;
  }
}

@media (min-width: 600px) {
  h1 {
    font-size: 1.8rem;
  }
  .form {
    width: 16rem;
    height: 2.5rem;
  }
  .form__input {
    padding: 1.3rem;
    font-size: 1.2rem;
  }
  .form__label {
    font-size: .9rem;
    top: -.45rem;
  }
  .form__label--number {
    font-size: 1.1rem;
    right: 1rem;
    top: 57%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .result {
    font-size: 1.2rem;
    margin-top: 2rem;
  }
  button {
    font-size: 1rem;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 2.4rem;
  }
  .form {
    width: 18rem;
    height: 2.5rem;
  }
  .form__input {
    padding: 1.4rem;
    font-size: 1.4rem;
  }
  .form__label {
    font-size: 1.1rem;
    top: -.65rem;
  }
  .form__label--number {
    font-size: 1.2rem;
    right: 1rem;
    top: 57%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .result {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  button {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=main.css.map */